    <div class="field w-50 p-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Lugar</th>
                <th scope="col">Titulo</th>
                <th scope="col">Ver</th>
                <th scope="col">Curtidas</th>
            </tr>
            </thead>
            <tbody>
            <% count = 0 %>
            <% @ranking.each do |comp_rank| %>
            <tr>
                <% if count == 0 %> 
                <p class="text-danger">   
                <% end %>
                <td><%= count = count + 1 %>°</td>
                <td><%= comp_rank.title %></td>
                <td><%= link_to 'Show', comp_rank, class: 'btn btn-primary' %></td>
                <td>
                    <p><%= comp_rank.like.count %> <%= (comp_rank.like.count) == 1 ? 'Curtida' : 'Curtidas'%></p>
                </td>
                </p>
            </tr>
            <% end %>
        </table>
    </div>
