# encoding: utf-8

<div class="container">
<h3>Em Alta</h3>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div>
  </div>
</div>


</div>


<%= form_tag(complaints_path, :method => "get", id: "search-form") do %>
<div class="container">
<h3>Ultimas</h3>
<div class="form-inline">
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
    </div>
    <%= text_field_tag :search, params[:search], placeholder: 'Procurar reclamacao', class: 'form-control' %>
</div>
<div class="mb-3">
<%= submit_tag 'Procurar', class: 'btn btn-info' %>
<% end %>
</div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Date</th>
      <th scope="col">Opcoes</th>
      <th scope="col">Cutidas</th>
    </tr>
  </thead>
  <tbody>
  <% @complaints.each do |complaint| %>
    <tr>
      <td><%= complaint.title %></td>
      <td><%= complaint.latitude %></td>
      <td><%= complaint.longitude %></td>
      <td><%= complaint.date %></td>
      <td><%= link_to 'Show', complaint, class: 'btn btn-primary' %>
      <% if current_user == complaint.user %>
      <%= link_to 'Edit', edit_complaint_path(complaint), class: 'btn btn-warning' %>
      <%= link_to 'Destroy', complaint, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
       <!-- Botao para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
            Modal 
        </button>
      </td>
      <td> 
        <p><%= complaint.like.count %> <%= (complaint.like.count) == 1 ? 'Like' : 'Likes'%></p>
        
    </tr>
    
    
    

<!-- Modal -->

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Titulo do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudancas</button>
      </div>
    </div>
  </div>
</div>
   <% end %>
  </tbody>
</table>
</div>


<div class="container">
<div  id="map-container-google" class="z-depth-1-half map-container" style="height: 500px; z-index: -1;" >
    <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9954.574544628409!2d-34.95403645991403!3d-8.052890506100583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1966d409d415%3A0x497df2e2ee00ea52!2sUniversidade+Federal+de+Pernambuco+UFPE!5e0!3m2!1spt-BR!2sbr!4v1558949559126!5m2!1spt-BR!2sbr" frameborder="0" style="border:0" allowfullscreen></iframe></p>
</div>
</div>


