<p id="notice"><%= notice %></p>
<div class="container">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <%= button_to 'Voltar', complaints_path, method: :get, class: 'btn btn-primary' %>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <% if current_user == @complaint.user %>
                    <%= link_to 'Editar', edit_complaint_path(@complaint), class: 'btn btn-warning' %>
                <% end %>
            </li>
        </ul>
    </nav>
    
    <br />
    
    <p>
        <strong>Titulo</strong>
        <%= @complaint.title %>
    </p>
    
    <p>
        <strong>Local:</strong>
        <%= @complaint.name %>
    </p>
    
    <p>
        <strong>Description:</strong>
        <%= @complaint.description %>
    </p>

    <p>
        <strong>Photo:</strong>
        <%= image_tag @complaint.photo %>
    </p>

    <p>
        <strong>Latitude:</strong>
        <%= @complaint.latitude %>
    </p>

    <p>
        <strong>Longitude:</strong>
        <%= @complaint.longitude %>
    </p>

    <p>
        <strong>Date:</strong>
        <%= @complaint.date %>
    </p>
    
    <p>
        <strong> Criado por: </strong> <%= link_to @user.first_name, '/users/'+@user.id.to_s %>
    </p>
    
    <p>
        <%= @complaint.like.count %> <%= (@complaint.like.count) == 1 ? 'Like' : 'Likes'%>
    </p>
    
    <% pre_like = @complaint.like.find { |like| like.user_id == current_user.id} %> 
    <% if pre_like %>
        <%= button_to 'Unlike', complaint_like_path(@complaint, pre_like), method: :delete, class: 'btn btn-danger' %>
    <% else %>
        <%= button_to 'Like', complaint_likes_path(@complaint), method: :complaint, class: 'btn btn-success' %>
    <% end %>

    <%= render 'comments/comment' %>
</div>
