<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @complaint.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @complaint.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @complaint.longitude %>
</p>

<p>
  <strong>Date:</strong>
  <%= @complaint.date %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
