<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @complaint.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @complaint.photo %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @complaint.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @complaint.longitude %>
</p>

<p>
  <strong>Date:</strong>
  <%= @complaint.date %>
</p>

<p>

<p><%= @complaint.like.count %> <%= (@complaint.like.count) == 1 ? 'Like' : 'Likes'%></p>

<%= render 'comments/form' %>

<% pre_like = @complaint.like.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', complaint_like_path(@complaint, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', complaint_likes_path(@complaint), method: :complaint %>
<% end %>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
