<!DOCTYPE html>
<html>
  <head>
    <title>Accessiblelife</title>
    
 
    
 
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet">

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <%= link_to 'Reclame Aqui', new_complaint_path, class: 'btn btn-success navbar-brand' %> 
        <%= link_to 'Accessiblelife', complaints_path, class: 'navbar-brand' %> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto ">
          <% if current_user == nil %>
            <li class="nav-item">
                <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-warning navbar-brand' %> 
            </li>
            <li class="nav-item" >
                <%= link_to 'Registrar', new_user_registration_path, class: 'btn btn-primary navbar-brand' %>
            </li>
          <% else %>
            <li class="nav-item" >
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger navbar-brand' %>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
 </head>

  <body>
  
    <br />
    <br />
    <br />
    
    <% flash.each do |type, msg| %>
        <% if type == "notice" %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso!</strong> <%= msg %>
        <% elsif type == "alert" %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Aviso!</strong> <%= msg %>
        <% else %>
            <div class="alert alert-<%= '#{type}'%> alert-dismissible fade show" role="alert">
            <strong>Aviso!</strong> <%= msg %>
        <% end %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    <% end %>
    
    <%= yield %>

  </body>
</html>
